<div class="container">
	<div class="row">
		<% if logged_in? %>
    <%= render partial: 'layouts/header' %>
		<h1>投稿一覧</h1>
		<p>ユーザー名：<%= @user.name %></p>
			<table>
				<thead>
					<tr>
						<th>【各投稿一覧表】</th>
					</tr>
				</thead>
				<tbody>
					<% @articles.each do |article| %>
						<tr>
							<td><%= article.title %></td>
							<% if current_user.liked_by?(article.id) %>
								<td>いいねを外す</td>
							<% else %>
								<td>いいね</td>
							<% end %>
							<td><%= article.dog_name %></td>
							<td><%= article.body %></td>
							<td><%= article.kind %></td>
							<td><%= image_tag(article.image_url, width: 70) %>
              <td>コメント数：<%= article.comments.count %></td>
							<td><%= link_to '詳細', articles_show_path(article.id) %></td>
              <% if article.user == current_user %>
                <td><%= link_to '編集', articles_edit_path(article.id) %></td>
                <td><%= link_to '削除', articles_destroy_path(article.id), method: :delete %></td>
              <% end %>
						</tr>
					<% end %>
				</tbody>
				<%= link_to '投稿画面へ', articles_new_path, class: "mr-3" %>
				<%= link_to 'Top画面へ', top_path %>
				<%= link_to 'ログアウト', logout_path, method: :delete %>
			</table>
		<% else %>
		  <%= render partial: 'no_login' %>
		<% end %>
	</div>
</div>

