<div class="container">
	<div class="row">
		<h1>投稿詳細</h1>
		<p>【投稿詳細内容】</p>
			<p>【タイトル】</p>
			<%= @article.title %><br>
			<p>【本文】</p>
			<%= @article.body %><br>
			<p>【画像】</p>
			<%= @article.image %><br>
			<p>【種類】</p>
			<%= @article.kind %><br>
			<p>【名前】</p>
			<%= @article.dog_name %><br>
			<%= link_to '編集する', articles_edit_path(@article.id) %>
			<%= link_to '削除する', articles_destroy_path(@article.id), method: :delete %>
		<%= link_to '戻る', articles_index_path %>
		
		<%= form_with(model: [@article, @comment], url: articles_comments_path(@article), method: :post, local: true) do |f| %>
			<%= f.text_area :comment, placeholder: "コメントする"%>
			<%= f.submit "送信", class: "btn btn-success" %>
		<% end %>
		<p>コメント件数</p>
  </div>
</div

