<div class="container">
	<div class="row">
		<h1>投稿詳細</h1>
		<span>現在ログイン中のユーザー：<%= current_user.name %></span>
		<p>【投稿詳細内容】</p>
			<p>【タイトル】</p>
			<%= @article.title %><br>
			<p>【本文】</p>
			<%= @article.body %><br>
			<p>【画像】</p>
			<%= image_tag @article.image.url, size: '50×50' %><br>
			<p>【種類】</p>
			<%= @article.kind %><br>
			<p>【名前】</p>
			<%= @article.dog_name %><br>
			<%= link_to '編集する', articles_edit_path(@article.id) %>
			<%= link_to '削除する', articles_destroy_path(@article.id), method: :delete %>
			<%= link_to '戻る', articles_index_path %>
			
		<h2>コメント画面</h2>
		<%= form_with(model:[@article, @comment], url: articles_comments_path(@article), method: :post, local: true) do |f| %>
			<div><%= f.text_area :comment, placeholder: "コメントする"%></div><br>
			<div><%= f.submit "送信", class: "btn btn-success" %></div>
		<% end %>
		<h3>コメント一覧</h3>
		<table>
			<thead>
				<tr>
					<th>【コメントした方】</th>
					<th>【コメント内容】</th>
				</tr>
			</thead>
			<tbody>
				<% @comments.each do |comment| %>
					<tr>
						<td><%= comment.user.name %></td>
						<td><%= comment.comment %></td>
						<% if logged_in? && comment.user.id == current_user.id %>
							<td><%= link_to "削除", comments_destroy_path(@article, comment), method: :delete %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
  </div>
</div>

